<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gymchart.felipepereira.com.gymchart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GraphActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkOutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WorkOutDetailsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>